*.iml
docs/.vpprefdata
.lock
circuit.vux
profiles_settings.xml
compiler.xml
vcs.xml
test/.idea
simulation/.idea
SimilitudeClient.iml
client/.idea
server/.idea
.idea
test.js
*.code-workspace
similitudeClient.js
ClassDiagram.vux
*.orig
